.main-footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: #73AD21;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
    padding-top: 3em;
    text-align: center;
}

ol,ul {
    list-style:none;
}

